.header {
	padding-block: 1rem;
	margin: 0rem var(--margin-inline); /*TODO:use clamp for margin and gaps*/
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.6rem;
	font-family: var(--txt-medium);
}

.navbar__logo {
	margin-inline-start: -1.4rem;
}
.navbar__logo-img {
	margin-block-start: 1.5rem;
	margin-inline-start: -0.9rem;
}
.navbar__items {
	display: flex;
	justify-content: space-between;
	gap: 3.2rem;
	list-style: none;
	transition: var(--transition-ease-in-out);
}
.navbar__item > a {
	color: var(--clr-primary);
	text-transform: capitalize;
	text-decoration: none;
}

.navbar__item > :where(:focus, :hover) {
	color: var(--clr-primary);
	opacity: 0.8;
}

.navbar__btn-container {
	display: flex;
	gap: 1.5rem;
}
/* media */
@media (width < 96rem) {
	.navbar {
		font-size: 1.5rem;
	}
}

/* @media (min-width: 86rem) {
	:is(.navbar__items, .navbar__btn-container) {
		display: none;
	}
} */
